@import "tailwindcss";

@layer base {
  :root {
    --color-green-brand: #166534;
    --color-green-light: #16a34a;
    --color-green-accent: #bbf7d0;
    --color-green-dark: #14532d;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
